section#about.about
  .col-50.col-left-padded
    .img-wrapper
      img.image(src="img/design/about-bg.jpg" srcset="img/design/about-bg.jpg 1x, img/design/about-bg@2.jpg 2x")
  .col-50.col-right-padded--alt
    h4.section__header--alt.header-section.header-section--primary about
    h5.section__subject.header-subject London
    h6.section__caption.header-caption Business Conference
    time.section__date.label-caption.label-caption--date 15 - 21 October
    .section__text
      p.p-common Sed vitae tincidunt ante, vel lacinia odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi feugiat nisi nec ex convallis fringilla. Cras sit amet fermentum elit. Sed fermentum sollicitudin neque, ut pulvinar erat lobortis a. Maecenas facilisis, lectus a convallis volutpat, nisi est tristique ante, eget tempus nisl neque at arcu. 
      p.section__p.section__p.p-common Proin quis pellentesque orci. Vestibulum congue elit vitae nunc hendrerit vehicula.
