section.blog
  .col-50.col-left-padded
    h4.header-section.header-section--secondary blog
    h5.section__subject.header-subject Business idea
    h6.section__caption.header-caption-alt Kane W. Doe
    .section__text
      p.p-common-alt Sed vitae tincidunt ante, vel lacinia odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi feugiat nisi nec ex convallis fringilla. Cras sit amet fermentum elit. Sed fermentum sollicitudin neque, ut pulvinar erat lobortis a. Maecenas facilisis, lectus a convallis volutpat, nisi est tristique ante, eget tempus nisl neque at arcu. 
      p.section__p.p-common-alt Proin quis pellentesque orci. Vestibulum congue elit vitae nunc hendrerit vehicula.
    .section__contacts
      a.link-email(href="#") 
        strong 15 October 2015
      ul.section__social.list-h
        li.list-h__item--social
          button.btn-social
            svg
              use(xlink:href="img/design/sprite.svg#icon-fb-s")
        li.list-h__item--social
          button.btn-social
            svg
              use(xlink:href="img/design/sprite.svg#icon-twitter-s")
        li.list-h__item--social
          button.btn-social
            svg
              use(xlink:href="img/design/sprite.svg#icon-gplus-s")
        li.list-h__item
          button.btn-social
            svg
              use(xlink:href="img/design/sprite.svg#icon-linkedin-s")
  .col-50
    #slider-blog.img-wrapper
      img.image(src="img/content/blog-1.jpg")
      img.image(src="img/content/blog-2.jpg")
      img.image(src="img/content/blog-3.jpg")
      img.image(src="img/content/blog-4.jpg")
      button.slider__prev.btn-slider
        svg
          use(xlink:href="img/design/sprite.svg#icon-arrow-left")
      button.slider__next.btn-slider
        svg
          use(xlink:href="img/design/sprite.svg#icon-arrow-right")
