section#contact.section.contact
  #map.contact__map
  .col--right.col--right-alt
    h4.header-section.header-section--primary contact
    h5.section__subject.header-subject London
    h6.section__caption.header-caption Business Conference
    p.section__address.label-caption 120 Main Street, Anytown, LN 12005
    form#form-contact.contact__form(action="contact.php" method="post")
      input.input(name='contact-name' placeholder='Name & Surname')
      input.form__element.input(name='contact-email' placeholder='Email address')
      textarea.form__element.input.textarea(name='contact-message' placeholder='Message...')
      .contact__submit
        button.btn-send(type="submit") send
