section.contact
  #map
  .col-50.col-right-padded--alt.col--faded
    h4.header-section.header-section--primary contact
    h5.section__subject.header-subject London
    h6.section__caption.header-caption Business Conference
    p.section__address.label-caption 120 Main Street, Anytown, LN 12005
    form.contact__form
      input.input(placeholder='Name & Surname')
      input.section__input.input(placeholder='Email address')
      textarea.section__input.input.textarea Message...
      .contact__submit
        button.btn-send send
