section.faq
  .col-50
    .img-wrapper
      img.image(src="img/design/faq-bg.jpg" width="960" height="700")
  .col-50.col-right-padded--alt
    h4.header-section.header-section--primary FAQ
    h5.section__subject.header-subject Event FAQ
    h6.section__caption.header-caption Find your answers
