footer.footer
  ul.footer__nav.list-h
    li.list-h__item
      a.link-nav(href="#") home
    li.list-h__item
      a.link-nav(href="#") about
    li.list-h__item
      a.link-nav(href="#") speakers
    li.list-h__item
      a.link-nav(href="#") program
    li.list-h__item
      a.link-nav(href="#") blog
    li.list-h__item
      a.link-nav(href="#") sponsor
    li.list-h__item
      a.link-nav(href="#") contact
  h3.footer__logo.logo.logo--alt evently
  ul.footer__social.list-h
    li.list-h__item--social-alt
      button.btn-social-alt
        svg
          use(xlink:href="img/design/sprite.svg#icon-fb-l")
    li.list-h__item--social-alt
      button.btn-social-alt
        svg
          use(xlink:href="img/design/sprite.svg#icon-twitter-l")
    li.list-h__item--social-alt
      button.btn-social-alt
        svg
          use(xlink:href="img/design/sprite.svg#icon-gplus-l")
    li.list-h__item--social-alt
      button.btn-social-alt
        svg
          use(xlink:href="img/design/sprite.svg#icon-linkedin-l")
  p.footer__copyright.label-copyright All right reserved. Copyright &copy; 2016. 
    strong Tosia Theme.
