footer.footer
  +mainnav('footer__nav')
  h3.footer__logo.logo.logo--alt evently
  ul.footer__social.list-h
    li.list-h__item-social-alt
      button.btn-social-alt
        svg
          use(xlink:href="img/design/sprite.svg#icon-fb-l")
    li.list-h__item-social-alt
      button.btn-social-alt
        svg
          use(xlink:href="img/design/sprite.svg#icon-twitter-l")
    li.list-h__item-social-alt
      button.btn-social-alt
        svg
          use(xlink:href="img/design/sprite.svg#icon-gplus-l")
    li.list-h__item-social-alt
      button.btn-social-alt
        svg
          use(xlink:href="img/design/sprite.svg#icon-linkedin-l")
  button.footer__btn.btn-ontop(onclick="smoothScroll('header')")
    svg
      use(xlink:href="img/design/sprite.svg#icon-arrow-down")
  p.footer__copyright.label-copyright All right reserved. Copyright &copy; 2016. 
    strong Tosia Theme.
