section#slider-gallery.gallery
  .section__header--gallery
    h4.header-section.header-section--primary gallery
  .gallery__img--1.img-wrapper
    img.img(src="img/content/preview-1.jpg" data-title="Modern style" data-caption="proin quis pellentesque orci." data-full="gallery-1.jpg")
    img.img(src="img/content/preview-5.jpg" data-title="Future trands" data-caption="vestibulum congue elit vitae nunc hendrerit vehicula." data-full="gallery-5.jpg")
    img.img(src="img/content/preview-9.jpg" data-title="Teambuilding" data-caption="mauris non porttitor mi." data-full="gallery-9.jpg")
  .gallery__img--2.img-wrapper
    img.img(src="img/content/preview-2.jpg" data-title="Co-working" data-caption="congue nunc hendrerit elit vitae vehicula." data-full="gallery-2.jpg")
    img.img(src="img/content/preview-6.jpg" data-title="New idea" data-caption="fusce porttitor quis enim" data-full="gallery-6.jpg")
    img.img(src="img/content/preview-10.jpg" data-title="Imagination" data-caption="etiam id lacinia risus, at vehicula lectus." data-full="gallery-10.jpg")
  .gallery__img--3.img-wrapper
    img.img(src="img/content/preview-3.jpg" data-title="Johny Knoxville" data-caption="curabitur a neque odio." data-full="gallery-3.jpg")
    img.img(src="img/content/preview-7.jpg" data-title="Sarah Connor" data-caption="ut ac tempor lectus." data-full="gallery-7.jpg")
    img.img(src="img/content/preview-11.jpg" data-title="Ashley Soderberg" data-caption="maecenas facilisis, lectus a convallis volutpat, nisi est tristique ante, eget tempus nisl neque at arcu." data-full="gallery-11.jpg") 
  .gallery__img--4.img-wrapper
    img.img(src="img/content/preview-4.jpg" data-title="Coffee break" data-caption="sed vitae tincidunt ante, vel lacinia odio." data-full="gallery-4.jpg")
    img.img(src="img/content/preview-8.jpg" data-title="Friendly workspace" data-caption="cras sit amet fermentum elit." data-full="gallery-8.jpg")
    img.img(src="img/content/preview-12.jpg" data-title="No fear" data-caption="morbi feugiat nisi nec ex convallis fringilla." data-full="gallery-12.jpg")
  button.section__slider-prev.btn-slider
    svg
      use(xlink:href="img/design/sprite.svg#icon-arrow-left")
  button.section__slider-next.btn-slider
    svg
      use(xlink:href="img/design/sprite.svg#icon-arrow-right")
