section#slider-gallery.gallery
  .section__header--gallery
    h4.header-section.header-section--primary gallery
  .gallery__img--1.img-wrapper
    img.img(src="img/content/preview-1.jpg")
    img.img(src="img/content/preview-5.jpg")
    img.img(src="img/content/preview-9.jpg")
  .gallery__img--2.img-wrapper
    img.img(src="img/content/preview-2.jpg")
    img.img(src="img/content/preview-6.jpg")
    img.img(src="img/content/preview-10.jpg")
  .gallery__img--3.img-wrapper
    img.img(src="img/content/preview-3.jpg")
    img.img(src="img/content/preview-7.jpg")
    img.img(src="img/content/preview-11.jpg") 
  .gallery__img--4.img-wrapper
    img.img(src="img/content/preview-4.jpg")
    img.img(src="img/content/preview-8.jpg")
    img.img(src="img/content/preview-12.jpg")
  button.section__slider-prev.btn-slider
    svg
      use(xlink:href="img/design/sprite.svg#icon-arrow-left")
  button.section__slider-next.btn-slider
    svg
      use(xlink:href="img/design/sprite.svg#icon-arrow-right")
