section.gallery
  button.slider__prev.btn-slider
    svg
      use(xlink:href="img/design/sprite.svg#icon-arrow-left")
  button.slider__next.btn-slider
    svg
      use(xlink:href="img/design/sprite.svg#icon-arrow-right")
  .row
    .col-50.col-left-padded
      .gallery__img--first
        img.image(src="img/content/preview-9.jpg")
        .label-image-overlay
          .label-image-overlay__inner
            .label-image-overlay__caption
              .centered
                strong Image 01
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
    .col-50.col-right-padded
      h4.header-section gallery
      .gallery__img--second
        img.image(src="img/content/preview-10.jpg" )
        .label-image-overlay
          .label-image-overlay__inner
            .label-image-overlay__caption
              .centered
                strong Image 01
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
      .gallery__img--third
        img.image(src="img/content/preview-11.jpg" )
        .label-image-overlay
          .label-image-overlay__inner
            .label-image-overlay__caption
              .centered
                strong Image 01
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
      .gallery__img--fourth
        img.image(src="img/content/preview-12.jpg")
        .label-image-overlay
          .label-image-overlay__inner
            .label-image-overlay__caption
              .centered
                strong Image 01
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 

    
