header#header.header
  h3.header__logo.logo.logo--main
    a(href="index.html") event
      span
        | ly
  button#btn-burger.header__burger.btn-burger &#9776;
  +mainnav('header__nav', 'header-nav')
  time.header__promo-date.label-promo-date(datetime="2016-10-15/2016-10-21") 15-21 October
  h1.header__promo-header.header-promo london
  h2.header__promo-header.header-promo-caption business 
    strong conference
  #promo-btn.header__promo-button
    button.btn-promo(onclick="smoothScroll('register')") Join the 
      strong Conference
  ul#timer.header__timer.list-h
    +timer-piece('timer-day', 'days')
    +timer-piece('timer-hour', 'hours')
    +timer-piece('timer-min', 'min.')
    +timer-piece('timer-sec', 'sec.')
  #btn-scroll.header__btn-scroll
    .btn-scroll 
      button.btn-scroll__icon(onclick="smoothScroll('about')")
        svg
          use(xlink:href="img/design/sprite.svg#icon-arrow-down")
      span.btn-scroll__caption scroll down
