meta(charset="utf-8")
title Evently
meta(name="keywords" content="evently")
meta(name="description" content="evently")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="css/main.css")
link(rel="stylesheet" href="css/custom-scrollbar.css")
link(rel="shortcut icon" href="img/design/favicon.ico" type="image/x-icon")
link(rel="icon" href="img/design/favicon.ico" type="image/x-icon")
