section.plans
  .row
    .cell
      +plan('personal', '101', 'regular', 'Lipsum dolor sit amet', 'Etiam id lacinia risus, at vehicula lectus', 'Fusce porttitor quis enim', 'Vestibulum molestie')
    .cell-40
      +plan('business', '114', 'promo', 'Ut ac tempor lectus. Curabitur a neque odio. Lorem ipsum dolor', 'Etiam sit amet arcu et lacus tincidunt elementum. Vestibulum molestie vestibulum', 'Morbi eget arcu a massa ultricies egestas', 'Suspendisse ut lobortis nisl. Mauris non porttitor mi')
    .cell
      +plan('company', '120', 'regular', 'Lipsum dolor sit amet', 'Etiam id lacinia risus, at vehicula lectus', 'Fusce porttitor quis enim', 'Vestibulum molestie')
