section#shedule.shedule
  .col-50
    .img-wrapper
      .shedule__caption.label-shedule-caption
        span business 
        strong 
          em &amp;
          br
          | idea
      img.image(src="img/design/shedule-bg.jpg" srcset="img/design/shedule-bg.jpg 1x, img/design/shedule-bg@2x.jpg 2x")
  .col-50.col-right-padded--alt
    h4.header-section.header-section--primary shedule
    ul#slider-shedule.list-slider.list-slider--shedule
      li.list-slider__item
        h5.section__subject.header-subject 15 October
        h6.section__caption.header-caption Business Conference
        ul.section__shedule.list-shedule
          li.label-shedule-item
            time 09:00
            span Business idea &amp; concept
          li.label-shedule-item
            time 12:00
            span Business conference details
          li.label-shedule-item
            time 15:00
            span Conference calling
          li.label-shedule-item
            time 18:00
            span Coffee break
          li.label-shedule-item
            time 21:00
            span Afterparty
      li.list-slider__item.hidden
        h5.section__subject.header-subject 16 October
        h6.section__caption.header-caption Business Conference
        ul.section__shedule.list-shedule
          li.label-shedule-item
            time 09:00
            span Breakfast
          li.label-shedule-item
            time 12:00
            span Pienary session
          li.label-shedule-item
            time 14:00
            span Parallel track session
          li.label-shedule-item
            time 16:00
            span VIP reception
          li.label-shedule-item
            time 20:00
            span Optional social events
      li.list-slider__item.hidden
        h5.section__subject.header-subject 17 October
        h6.section__caption.header-caption Business Conference
        ul.section__shedule.list-shedule
          li.label-shedule-item
            time 09:00
            span ICSB board meeting
          li.label-shedule-item
            time 11:00
            span Policy forum
          li.label-shedule-item
            time 16:00
            span Coaching lounge open
          li.label-shedule-item
            time 18:00
            span Co-working practice
          li.label-shedule-item
            time 21:00
            span Afterparty
      li.list-slider__item.hidden
        h5.section__subject.header-subject 18 October
        h6.section__caption.header-caption Business Conference
        ul.section__shedule.list-shedule
          li.label-shedule-item
            time 09:00
            span Breakfast
          li.label-shedule-item
            time 12:00
            span AGM meeting
          li.label-shedule-item
            time 18:00
            span Clothing lunch ceremony
          li.label-shedule-item
            time 21:00
            span Gala dinner
    ul.section__pager.list-h
      li.list-h__item--pager
        button.button-page.button-page--active .01
      li.list-h__item--pager
        button.button-page .02
      li.list-h__item--pager
        button.button-page .03
      li.list-h__item
        button.button-page .04
