section.shedule
  .col-50
    .img-wrapper
      .shedule__caption.label-shedule-caption
        span business 
        strong 
          em &amp;
          br
          | idea
      img.image(src="img/design/shedule-bg.jpg" width="960" height="700")
  .col-50.col-right-padded--alt
    h4.header-section.header-section--primary shedule
    h5.section__subject.header-subject 15 October
    h6.section__caption.header-caption Business Conference
    ul.section__shedule.list-shedule
      li.label-shedule-item
        time 09:00
        span Business idea &amp; concept
      li.label-shedule-item
        time 12:00
        span Business conference details
      li.label-shedule-item
        time 15:00
        span Conference calling
      li.label-shedule-item
        time 18:00
        span Something else
      li.label-shedule-item
        time 21:00
        span Afterparty
    ul.section__pager.list-h
      li.list-h__item--pager
        button.button-page.button-page--active .01
      li.list-h__item--pager
        button.button-page .02
      li.list-h__item--pager
        button.button-page .03
      li.list-h__item
        button.button-page .04
