section#shedule.section.shedule
  .col-50.img-wrapper
    img.img(src="img/content/shedule-bg.jpg" srcset="img/content/shedule-bg.jpg 1x, img/content/shedule-bg@2x.jpg 2x")
    .shedule__caption
      span business 
      strong 
        em &amp;
        br
        | idea
  .col-50.col--right
    h4.header-section.header-section--primary shedule
    ul#slider-shedule.list-slider.list-slider--shedule
      li.list-slider__item
        h5.section__subject.header-subject 15 October
        h6.section__caption.header-caption Business Conference
        ul.shedule__shedule.list-shedule
          li.list-shedule__item
            time 09:00
            span Business idea &amp; concept
          li.list-shedule__item
            time 12:00
            span Business conference details
          li.list-shedule__item
            time 15:00
            span Conference calling
          li.list-shedule__item
            time 18:00
            span Coffee break
          li.list-shedule__item
            time 21:00
            span Afterparty
      li.list-slider__item.hidden
        h5.section__subject.header-subject 16 October
        h6.section__caption.header-caption Brainstorm day
        ul.shedule__shedule.list-shedule
          li.list-shedule__item
            time 09:00
            span Breakfast
          li.list-shedule__item
            time 12:00
            span Pienary session
          li.list-shedule__item
            time 14:00
            span Parallel track session
          li.list-shedule__item
            time 16:00
            span VIP reception
          li.list-shedule__item
            time 20:00
            span Optional social events
      li.list-slider__item.hidden
        h5.section__subject.header-subject 17 October
        h6.section__caption.header-caption Crucial meeting
        ul.shedule__shedule.list-shedule
          li.list-shedule__item
            time 09:00
            span ICSB board meeting
          li.list-shedule__item
            time 11:00
            span Policy forum
          li.list-shedule__item
            time 16:00
            span Coaching lounge open
          li.list-shedule__item
            time 18:00
            span Co-working practice
          li.list-shedule__item
            time 21:00
            span Afterparty
      li.list-slider__item.hidden
        h5.section__subject.header-subject 18 October
        h6.section__caption.header-caption Clothing ceremony
        ul.shedule__shedule.list-shedule
          li.list-shedule__item
            time 09:00
            span Breakfast
          li.list-shedule__item
            time 12:00
            span AGM meeting
          li.list-shedule__item
            time 18:00
            span Clothing lunch ceremony
          li.list-shedule__item
            time 21:00
            span Gala dinner
    ul.shedule__pager.list-h
      li.list-h__item-pager
        button.btn-page.btn-page--active .01
      li.list-h__item-pager
        button.btn-page .02
      li.list-h__item-pager
        button.btn-page .03
      li.list-h__item
        button.btn-page .04
