section.sponsors
  h4.header-section.header-section--alt sponsors
  .sponsors__badges(style="text-align: center")
    .col-20
      .label-sponsor
        .label-sponsor__logo
          img(src="img/content/sponsor-1.svg")
        .label-sponsor__title
          .label-sponsor__text
            strong dinner
            span sponsor
    .col-20
      .label-sponsor
        .label-sponsor__logo
          img(src="img/content/sponsor-2.svg")
        .label-sponsor__title
          .label-sponsor__text
            strong location
            span sponsor
    .col-20
      .label-sponsor
        .label-sponsor__logo
          img(src="img/content/sponsor-4.svg")
        .label-sponsor__title
          .label-sponsor__text
            strong digital
            span sponsor
    button.slider__prev-sm.btn-slider-sm
      svg
        use(xlink:href="img/design/sprite.svg#icon-arrow-left")
    button.slider__next-sm.btn-slider-sm
      svg
        use(xlink:href="img/design/sprite.svg#icon-arrow-right")
