section#sponsors.sponsors
  h4.header-section.header-section--alt sponsors
  ul#slider-sponsors.sponsors__badges.list-slider
    li.list-slider__item
      +sponsor('3', 'dinner')
      +sponsor('5', 'chillout')
      +sponsor('4', 'digital')
    li.list-slider__item
      +sponsor('1', 'dinner')
      +sponsor('2', 'location')
      +sponsor('6', 'fashion')
    li.list-slider__item
      +sponsor('7', 'luxury')
      +sponsor('8', 'media')
      +sponsor('9', 'finance')
    button.section__slider-prev-s.btn-slider-s
      svg
        use(xlink:href="img/design/sprite.svg#icon-arrow-left")
    button.section__slider-next-s.btn-slider-s
      svg
        use(xlink:href="img/design/sprite.svg#icon-arrow-right")
