.header-promo
  font-weight: 900
  font-size: 120px
  text-transform: uppercase
  color: $color-text-decorate
  text-align: center
.header-section
  +size(100%, 120px)
  text-transform: capitalize
  font-weight: 800
  font-size: 40px
  line-height: 120px
.header-section--primary
  box-sizing: border-box
  background-color: $color-bg-decorate
  position: relative
  z-index: 0
  &:before
    +pseudo
    width: 120px
    height: 120px
    left: -119px
    z-index: -1
    background-color: $color-bg-decorate

.header-section--secondary
  color: $color-text-alt
  border-bottom: 1px solid $color-bg-decorate
  position: relative
  &:before
    +pseudo
    +size(12px, 1px)
    background-color: $color-bg-secondary
    bottom: -1px
    left: 0
  &:after
    +pseudo
    +size(7px)
    background-color: $color-bg-decorate
    border-radius: 50%
    bottom: -4px
    left: 0
.header-section--alt
  border-bottom: 1px solid $color-bg-secondary
  position: relative
  &:before
    +pseudo
    +size(12px, 1px)
    background-color: $color-bg-primary
    bottom: -1px
    left: 0
  &:after
    +pseudo
    +size(7px)
    background-color: $color-bg-secondary
    border-radius: 50%
    bottom: -4px
    left: 0

.header-subject
  color: $color-text-decorate
  font-weight: 700
  font-size: 60px
  text-transform: capitalize

.header-caption
  font-weight: normal
  font-size: 24px
  color: $color-text-primary

.header-caption-alt
  font-weight: normal
  font-size: 24px
  color: $color-text-secondary
