.label-date-xl
  display: block
  text-align: center
  font: 700 40px $font-family-robotoslab
  +size(480px, 74px)
  line-height: 74px
  border-top: 1px solid $color-bg-alt
  border-bottom: 1px solid $color-bg-alt
.label-date-m
  display: block
  text-align: center
  font: 700 40px $font-family-robotoslab
  +size(480px, 74px)
  line-height: 74px
  border-top: 1px solid $color-bg-alt
  border-bottom: 1px solid $color-bg-alt
