include utility/_mixins
doctype html
html
  head
    include includes/_head
  body
    .page
      .top-wrapper
        include includes/_header
        include includes/_about
      include includes/_speakers
      include includes/_shedule
      include includes/_register
      include includes/_plans
      include includes/_faq
      include includes/_blog
      include includes/_gallery
      include includes/_sponsors
      include includes/_contact
      include includes/_footer
    script(src="js/jquery-2.2.3.min.js")
    script(src="js/custom-scrollbar.concat.min.js")
    script(src="js/smooth-scroll.js")
    script(src="js/countdown.js")
    script(src="js/common.js")
    script(src="js/sliders.js")
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDhrh9_CT0TAl3bMAuAkVLbqamu4ydXevI&sensor=false&extension=.js')
    script(src="js/map.js")
    
