=size($width, $height: $width)
  width: $width
  height: $height
=border($width: 1, $color: red, $style: solid)
  border: $width+px $style $color
=h-align
  left: 50%
  transform: translateX(-50%)
=v-align
  top: 50%
  transform: translateY(-50%)
=c-align
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
=pseudo
  position: absolute
  content: ""
